.App {
  text-align: center;
  background-color: #23252c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: black;
}

.cardContainer {
  height: 868px;
  width: 400px;
  border-style: solid;
  border-width: 5px;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: antiquewhite;
  flex-direction: column;
}

.card-header > img {
  border: 5px;
}

.mainInfo {
  margin-bottom: auto;
}

.footer {
  position: absolute;
  width: 400px;
  height: 75px;
  top: 800px;
  background: #d5d4d8;
  border-radius: 0px 0px 10px 10px;
}
